.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1f2128;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.chats_list__container {
    width: 400px;
    height: 100%;
    background-color: #191a20;
}

.chatting__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chat__container {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
}

.input_message__container {
    flex-shrink: 0;
}