.message_reply-input {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1c28;
}