.side_panel__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background-color: #191a20;
}

.side_panel__chats_list_container {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
}

.side_panel__wrapper-search_and_create{
    display: flex;
    flex-direction: row;
}

.side_panel__user_settings_container {

}